<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="main.css" media="screen">
	<link rel="stylesheet" type="text/css" href="speedo.css" media="screen">
</head>
<body onMouseMove="mouse_position(event);">
	<div id="cursor"></div>
	<div id="chat" class="ui_element">
		<div id="scripts"></div>
		<ul id="debug_messages"></ul>
		<ul id="chat_messages">
		</ul>
		<div id="chat_input">
			<input id="chat_msg" type="text" />
		</div>
	</div>
	<div class="playerlist">
		<div class="p-list-header">
			<p><strong>Piter Role-Play</strong> | Игроков онлайн: 0/100</p>
		</div>
		<table id="pl-table" border="0" cellpadding="5">
			<tr>
				<th>Имя(ID):</th>
				<th>IP:</th>
				<th>Ping:</th>
			</tr>
			<tr>
				<td>Nick</td>
				<td>0.0.0.0</td>
				<td>0</td>
			</tr>
		</table>
	</div>
	<div class="playermenu">
		<div class="menupages">
			<div id="menupage1" class="menupage">
				<div class="pageheader">
					<b>Информация о вашем персонаже</b>
				</div>
				<div class="pagecontent">
					<ul>
						<li><label>Главная</label></li>
						<li>Имя персонажа: <b class="playernick">NickName</b></li>
						<li>ID персонажа: <b class="playerid">0</b></li>
						<li>Розыск: <b class="playerwanted">0</b></li>
						<li>Голод: <b class="playereat">100</b></li>
						<li>Жизни: <b class="playerhealth">100</b></li>
						<li>Броня: <b class="playerarmor">0</b></li>
						<br />
						<li><label>Статистика</label></li>
						<li>Организация: <b class="playerfraction">none</b></li>
						<li>Должность: <b class="playerrank">none</b></li>
						<li>Кол-во преступлений: <b class="playercrimes">0</b></li>
						<li>Количество аррестов: <b class="playerarrests">0</b></li>
						<br />
						<li><label>Деньги</label></li>
						<li>На руках: <b class="playermoney">0</b></li>
						<li>В банке: <b class="playerbank">0</b></li>
						<br />
						<li><label>Карманы</label></li>
						<li>Наркотики: <b class="playerdrugs">0</b></li>
						<li>Оружие: <b></b></li>
						<ol class="playerweaponlist">
								<li class="playerweapon">Название: <b>WEAPON1</b></li>
								<li class="playerweapon">Название: <b>WEAPON2</b></li>
								<li class="playerweapon">Название: <b>WEAPON3</b></li>
								<li class="playerweapon">Название: <b>WEAPON4</b></li>
								<li class="playerweapon">Название: <b>WEAPON5</b></li>
								<li class="playerweapon">Название: <b>WEAPON6</b></li>
						</ol>
						<br />
					</ul>
				</div>
			</div>
			<div id="menupage2" class="menupage">
				<div class="pageheader">
					<b>Данные о вашем транспорте</b>
				</div>
				<div class="pagecontent">
					<ul>
						<li><label>Главная</label></li>
						<li>Модель: <b class="vehname">VehName</b></li>
						<li>Кол-во бензина: <b class="vehpetrol">100</b></li>
						<li>Состояние двигателя: <b class="vehenginehealth">Хор.</b></li>
						<li>Состояние колес: <b class="vehwheelhealth">Хор.</b></li>
						<li>Состояние кузова: <b class="vehbodyhealth">Хор.</b></li>
						<br />
						<li><label>Статистика</label></li>
						<li>Кол-во изъятий: <b class="veharrestscount">0</b></li>
						<li>Кол-во починок: <b class="vehrepaircount">0</b></li>
						<li>Кол-во угонов: <b class="vehstealcount">0</b></li>
						<br />
						<li><label>Багажник</label></li>
						<li>Наркотики: <b class="vehbagagedrugs">0</b></li>
						<li>Деньги: <b class="vehbagagemoney"></b></li>
						<li>Оружие: <b></b></li>
						<ol class="vehweaponlist">
								<li class="vehbagageweapon">Название: <b>WEAPON1</b></li>
								<li class="vehbagageweapon">Название: <b>WEAPON2</b></li>
								<li class="vehbagageweapon">Название: <b>WEAPON3</b></li>
								<li class="vehbagageweapon">Название: <b>WEAPON4</b></li>
								<li class="vehbagageweapon">Название: <b>WEAPON5</b></li>
								<li class="vehbagageweapon">Название: <b>WEAPON6</b></li>
						</ol>
						<br />
					</ul>
				</div>
			</div>
			<div id="menupage3" class="menupage">
				<div class="pageheader">
					<b>Данные о вашем доме</b>
				</div>
				<div class="pagecontent">
					<ul>
						<li><label>Главная</label></li>
						<li>Номер дома: <b class="homenumber">124</b></li>
						<li>Класс дома: <b class="homeclass">S</b></li>
						<li>Месторасположение: <b class="homestate">Ул. Петросяново</b></li>
						<li>Владелец: <b class="homeowner">NickName</b></li>
						<br />
						<li><label>Статистика</label></li>
						<li>Оплачено: <b class="homepaid">0</b></li>
						<li>Ком.услуги: <b class="homepaiment">0</b></li>
						<br />
						<li><label>Склад</label></li>
						<li>Наркотики: <b class="homestockdrugs">0</b></li>
						<li>Деньги: <b class="homestockmoney">10000000</b></li>
						<li>Оружие: <b></b></li>
						<ol class="homeweaponlist">
								<li class="homestockweapon">Название: <b>WEAPON1</b></li>
								<li class="homestockweapon">Название: <b>WEAPON2</b></li>
								<li class="homestockweapon">Название: <b>WEAPON3</b></li>
								<li class="homestockweapon">Название: <b>WEAPON4</b></li>
								<li class="homestockweapon">Название: <b>WEAPON5</b></li>
								<li class="homestockweapon">Название: <b>WEAPON6</b></li>
						</ol>
						<br />
					</ul>
				</div>
			</div>
			<div id="menupage4" class="menupage">
				<div class="pageheader">
					<b>Помощь игрокам</b>
				</div>
				<div class="pagecontent">
					<b>Список комманд</b>
					<ul class="commandslist">
						<li class="commandsrow"><b>/pm</b> - написать сообщение</li>
						<li class="commandsrow"><b>/getgun [type_id] [weapon_id] [ammo]</b> - взять оружие</li>
						<li class="commandsrow"><b>/givegun [player_id] [type_id] [weapon_id] [ammo]</b> - выдать оружие</li>
						<li class="commandsrow"><b>/setskin [skin_id]</b> - сменить скин</li>
						<li class="commandsrow"><b>/tp [player_id] [player_id]</b> - телепорт игрока к игроку</li>
						<li class="commandsrow"><b>/goto [player_id]</b> - телепорт к игроку</li>
						<li class="commandsrow"><b>/veh [vehicle_id] [color1] [color2]</b> - создать машину</li>
						<li class="commandsrow"><b>/delveh</b> - удалить машину</li>
						<li class="commandsrow"><b>/repair</b> - починить машину</li>
						<li class="commandsrow"><b>/goint [interior_id]</b> - телепорт в интерьер</li>
						<li class="commandsrow"><b>/gopos [pox] [posy] [posz]</b> - телепорт по координатам</li>
						<li class="commandsrow"><b>/pos</b> - получить координаты (дебаг)</li>
					</ul>
				</div>
			</div>
			<div id="menupage5" class="menupage">
				<div class="pageheader">
					<b>Админпанель</b>
				</div>
				<div class="pagecontent">
					<b>Возможности</b>
					<a class="page-spoiler" id="admin-spoiler-1">Создание транспорта</a>
					<ul class="page-spoiler-lines" id="admin-spoiler-lines-1">
						<li class="page-spoiler-line"><a class="page-butt" id="create-1">Создание транспорта</a></li>
						<li class="page-spoiler-line"><a class="page-butt" id="create-2">Создание лодок</a></li>
						<li class="page-spoiler-line"><a class="page-butt" id="create-3">Создание самолетов</a></li>
						<li class="page-spoiler-line"><a class="page-butt" id="create-4">Создание вертолетов</a></li>
						<li class="page-spoiler-line"><a class="page-butt" id="create-5">Создание велосипедов</a></li>
					</ul>

					<a class="page-spoiler" id="admin-spoiler-2">Телепорт к игроку</a>
					<ul class="page-spoiler-lines" id="admin-spoiler-lines-2">
						<li class="page-spoiler-line"><input type="text" name="goto-input" placeholder="ID"></li>
						<li class="page-spoiler-line"><a class="page-butt" id="goto-butt">Телепортироваться</a></li>
					</ul>

					<a class="page-spoiler" id="admin-spoiler-3">Управление игроком</a>
					<ul class="page-spoiler-lines" id="admin-spoiler-lines-3">
						<li class="page-spoiler-line"><a class="page-butt" id="getplayer-1">Жизни</a></li>
						<li class="page-spoiler-line"><a class="page-butt" id="getplayer-2">Броню</a></li>
						<li class="page-spoiler-line"><a class="page-butt" id="getplayer-3">Деньги</a></li>
						<li class="page-spoiler-line"><a class="page-butt" id="getplayer-4">Сытость</a></li>
						<li class="page-spoiler-line"><a class="page-butt" id="getplayer-5">Оружие</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="menunav">
			<div class="menutitle">
				<b>Главное меню</b>
			</div>
			<ul class="nav">
				<li class="menubutt_1"><a id="menubutt_1" onClick="INTERFACE.ui.openMenuPage(1);">Персонаж</a></li>
				<li class="menubutt_2"><a id="menubutt_2" onClick="INTERFACE.ui.openMenuPage(2);">Транспорт</a></li>
				<li class="menubutt_3"><a id="menubutt_3" onClick="INTERFACE.ui.openMenuPage(3);">Дом</a></li>
				<li class="menubutt_4"><a id="menubutt_4" onClick="INTERFACE.ui.openMenuPage(4);">Помощь</a></li>
				<li class="menubutt_5"><a id="menubutt_5" onClick="INTERFACE.ui.openMenuPage(5);">Админпанель</a></li>
				<li class="menubutt_6"><a id="menubutt_6" onClick="INTERFACE.ui.openMenu();">Скрыть</a></li>
			</ul>
		</div>
	</div>
	<div class="authpanel">
		<div class="panel-header">
			<b>Панель авторизации</b>
		</div>
		<div class="panel-content">
			<div class="error-message-auth"></div>
			<span class="row input"><input placeholder="Логин" type="text" size="28" name="auth_login"></span>
			<span class="row input"><input placeholder="Пароль" type="password" size="28" name="auth_password"></span>
			<br /><br />
			<span class="row"><input type="button" value="Войти" name="go_auth" onClick="INTERFACE.ui.goToAuth();"></span>
		</div>
		<div class="panel-footer">
			<label class="ftext">Нет аккаунта? <a name="go_register" onClick="INTERFACE.ui.goRegister();">Регистрация!</a></span><br />
			<!--<label class="ftext">Забыли пароль? <a name="go_answer" onClick="goToAnswer();">Напомнить</a></span>-->
		</div>
	</div>
	<div class="registerpanel">
		<div class="panel-header">
			<b>Панель регистрации</b>
		</div>
		<div class="panel-content">
			<div class="error-message-register"></div>
			<span class="row input"><input placeholder="Логин" type="text" size="28" name="register_login"></span>
			<span class="row input"><input placeholder="Пароль" type="password" size="28" name="register_password"></span>
			<span class="row input"><input placeholder="Пароль" type="password" size="28" name="register_password2"></span>
			<span class="row input"><input placeholder="Ivan_Ivanov" type="text" size="28" name="register_nickname"></span>
			<span class="row input"><input placeholder="example@email.ru" type="text" size="28" name="register_email"></span>
			<br /><br />
			<span class="row"><input type="button" value="Зарегистрироваться" name="go_auth" onClick="INTERFACE.ui.goToRegister();"></span>
		</div>
		<div class="panel-footer">
			<label class="ftext">У вас есть аккаунт? <a name="go_auth" onClick="INTERFACE.ui.goAuth();">Войти!</a></span><br />
			<!--<label class="ftext">Забыли пароль? <a name="go_answer" onClick="goToAnswer();">Напомнить</a></span>-->
		</div>
	</div>
	<div class="playerhud">
		<div class="playerstats">
			<label class="HUD-money">$ <b class="HUD-money-count">0</b></label><br />
			<label class="HUD-eat">СЫТОСТЬ: <b class="HUD-eat-count">0</b></label>
		</div>
		<div class="speedo">
			<div class="speedo-control"><img class="speedo-signal-petrol" src="images/petrol.png"><img src="images/engine.png" class="speedo-signal-engine"><img src="images/car.png" class="speedo-signal-body"></div>
			<div class="wrapper">
				<h3 class="wrapper-header"><span class="speedo-model-name"></span></h3>
				<div class="gauge">
					<div class="slice-colors">
					<div class="st slice-item"></div>
					<div class="st slice-item"></div>
					<div class="st slice-item"></div>
					<div class="st slice-item"></div>
					<div class="st slice-item"></div>
					</div>
					<div class="needle"></div>
					<div class="gauge-center"><center class="speedo-speed">0</center></div>
				</div>
				<div class="speedo-panel"><img class="speedo-panel-icon" src="images/petrol.png"><center class="speedo-petrol">100</center><img class="speedo-panel-icon" src="images/engine.png"><center class="speedo-engine">100</center><img class="speedo-panel-icon" src="images/car.png"><center class="speedo-body">100</center></div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="jquery-1.11.3.min.js"></script>
	<script src="main.js"></script>
</body>